.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 68px 0 0; /* Height of navbar */
  background-color: white;
  box-shadow:  4px 0px 6px rgba(0, 0, 0, 0.1);
}

.navbar{
  box-shadow:  0px 2px 6px rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
   /* Scrollable contents if viewport is shorter than content. */
}

.nav-pills .nav-link.active{
  color:#050505;
  background-color: #007bff30;
}

.nav-link{
  display: bl;
  font-weight: 600;
  margin-right: 10px;
  padding-left: 40px;
  padding-right: 10px;
  color: #333333;
}

.nav-pills .nav-link{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.btn-1{
  color: #424242;
  border-color: #424242;
}
 .btn-2{
   background-color: transparent;
   color: #424242;
   border: none;
   border-color: none;
   border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
 }

 .btn-secondary.active{
   background-color: white!important;
   color:#424242 !important;
   box-shadow:  0px -1px 6px rgba(0, 0, 0, 0.1);
 }
 .btn-secondary.active:focus{
   box-shadow: none !important;
}

.table th{
  border-top: none;
}
.table-responsive{
  background-color: white;
  width:1220px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
}
td{
  padding: 8px;
  padding-top: 10px;
}






